<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href=" {% url 'home' %} ">ToDoAPP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" aria-current="page" href=" {% url 'add_task' %} ">Add Task</a>
        <a class="nav-link text-white" href=" {% url 'show_tasks' %}">Show Tasks</a>
        <a class="nav-link text-white" href=" {% url 'completed_tasks' %}">Completed Tasks</a>
      </div>
    </div>
  </div>
</nav>
  {% block content %}

    <div class='text-center mt-5 pt-5' style='width: 100%;color: purple;'>
      <h1>
        Welcome to ToDoApp Made By <span style='color: red;'>Muk74dir</span>
      </h1>
    </div>

  {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>